<% @posts.all.each do |post| %>
	<div id="post" class ="card <%=style%>">
	<!-- Post Content --->
		<div id="content">
			<p><%= post.content %></p>
		</div>
		<!-- Post Associations --->
		<div id="attribute">
			<p><%= link_to "#{post.user.username}", show_profile_path(post.user) %>
				<%= link_to "Show", post_path(post) %>
				<% if post.user == current_user %>
				<%= link_to "edit", edit_post_path(post) %>
				<%= link_to "delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %></p>
		</div>
	</div>
<% end %>