<%= render 'shared/nav', title: "Homepage"  %>

<%= form_with scope: :post, local: true, url: "/post" do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content, size: "40x2" %>
  <%= f.submit "Post" %>
<% end %>

<div class="container">
  <%= render 'shared/post' %>
</div>